<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration>

	<!-- Appenders -->
	<appender name="LOGFILE" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="C:/dev/logs/nvisia-order-router-camel-service.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%p] %c - %m%n"/>
		</layout>
	</appender>
  
  <!-- Loggers -->
	<logger name="com.nvisia">
		<level value="debug" />
	</logger>

	<logger name="org.apache.camel">
		<level value="debug" />
	</logger>

	<logger name="org.springframework">
		<level value="warn" />
	</logger>

	<logger name="org.hibernate">
		<level value="warn" />
	</logger>

	<logger name="com.fasterxml">
		<level value="debug" />
	</logger>

	<root>
		<level value="debug" />
		<appender-ref ref="LOGFILE" />
	</root>
</log4j:configuration>